header {
    height: 150px;
    background-color: rgb(14, 176, 226);
    text-align: center;
}
.container {
    background-color: gray;
    left: 100px;
    right: 100px;
    float: center;
    /* position: fixed; */
}
.column {
    border: 2px solid;
}
.left-nav {
    height: 600px;
    width: 150px;
    border: 2px solid;
    float: left;
    background-color: rgb(14, 176, 226);
    text-align: center;
    /* position: absolute; */
}
.main-display {
    height: 600px;
    width: 900px;
    border: 2px solid;
    float: right;
    background-color: rgb(14, 176, 226);
    text-align: center;
    /* position: relative; */
}
.news-feed {
    height: 300px;
    background-color: rgb(14, 176, 226);
    clear: both; 
    text-align: center;
    text-decoration: bold;
    font-size: 25px;
}
.panel-body {
   /* position: static; */
   float: right;
}
.panel-body2 {
    float: right;
    /* position: static; */
}
.panel-body3 {
    float: right;
    /* position: static; */
}