.container {
    background-color: gray;
}

#logo{
    background-image: url('../images/stock-exchange-chart.jpg'); 
    color: white;
    border-radius: 100px;
    padding: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.left-nav,
.main-display {
    height: 600px;
}

.left-nav,
.main-display,
.news-feed {
    background-color: rgb(14, 176, 226);
    padding: 15px;
    border: 2px solid;
    width: 100%;
    text-align: center;
}

.news-feed {
    height: 300px;
    clear: both; 
    font-size: 25px;
    font-weight: "strong"; /* NOT WORKING? */
}


/* Invisible */
.basic-calculator,
.stock-buy-calc,
.stock-sell-calc {
    display: none;
}